/* You can add global styles to this file, and also import other style files */
.db-checkbox input {
	position: relative;
}

.mr-auto {
	margin-right: auto;
}
.ml-auto {
	margin-left: auto;
}

.flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: flex-end;
}
.flex-column {
	flex-direction: column;
}
.flex-grow {
	flex-grow: 1;
}

.grid {
	display: grid;
}

body {
	--db-font-family-sans: Helvetica;
    	--db-font-family-head: Helvetica;
}
